/* App.css */

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh; /* Ensure full viewport height */
  background-color: #f7b7c3; /* Light pink background */
}

h1 {
  margin-top: 20px;
  color: #d32f2f; /* Dark pink color for the title */
}

.hearts-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  overflow: hidden;

}

.heart {
  position: absolute;
  width: 100px;
  height: 100px;
  animation: heartAnimation 5s linear infinite;
  
}


.heart::after {
  content: '\2665'; /* Unicode for heart symbol */
  color: #ea9fdd; /* Adjust heart color as needed */
  font-size: 100px; /* Adjust heart size as needed */
  position: absolute;
  top: 0;
  left: 0;
}


@keyframes heartAnimation {
  0% {
    bottom: 0;
    opacity: 1;
  }
  100% {
    bottom: 100%;
    opacity: 0;
  }
}

.heart:nth-child(1) {
  left: 10%;
  animation-delay: 0s;
}

.heart:nth-child(2) {
  left: 20%;
  animation-delay: 1s;
}

.heart:nth-child(3) {
  left: 30%;
  animation-delay: 2s;
}

.heart:nth-child(4) {
  left: 40%;
  animation-delay: 3s;
}

.heart:nth-child(5) {
  left: 50%;
  animation-delay: 4s;
}

.heart:nth-child(6) {
  left: 60%;
  animation-delay: 5s;
}


/* App.css */

/* App.css */

/* Add valentine-themed styles for the carousel */
.picture-gallery {
  padding: 20px;
  max-width: 80%; /* Take up only the middle 50% of the page horizontally */
  margin: 0 auto; /* Center the carousel horizontally */
}

.picture-gallery h2 {
  color: #d976bf; /* Dark pink color for the title */
  text-align: center;
}

carousel-container {
  position: relative; /* Set position to relative */
}

/* Adjust the style of the carousel slides */
.picture-gallery img {
  max-width: 100%; /* Set maximum width to 100% */
  max-height: 600px; /* Set maximum height for all images */
  width: auto; /* Ensure the image width adjusts according to its container */
  height: auto; /* Ensure the image height adjusts according to its container */
  display: block; /* Ensure the image is displayed as a block element */
  margin: 0 auto; /* Center the images horizontally */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

/* Style for the indicator bar */
.carousel-indicator {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-top: 10px;
  height: 20px;
  width: 100%;
}

.carousel-indicator span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #d32f2f;
  margin: 0 5px;
}


/* Adjust the next button style */
.slick-next {
  right: 10px; /* Position the next button 10px from the right */
  z-index: 1; /* Ensure the next button is above the image */
}

.quiz {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  align-items: center;
  text-align: center;
}

.quiz h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #bc6cb0; /* Dark pink color for the title */
  
}

.quiz label {
  display: block;
  margin-bottom: 10px; /* Larger gap between each question */
}

.quiz input[type="text"] {
  width: 60%; /* Adjust the width as needed */
  /* padding: 10px; */
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 30px; /* Larger gap between input boxes and button */
  align-items: center;
  margin: 0 auto; /* Center the input boxes horizontally */
}

.quiz button {
  background-color: #dd81d6; /* Dark pink color for the button */
  color: #fff;
  padding: 15px 30px; /* Larger padding for the button */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px; /* Larger gap above the button */
}

.quiz button:hover {
  background-color: #b82894; /* Darken the button color on hover */
}

.cute-moments {
  position: relative;
  background-color: rgba(255, 192, 203, 0.8); /* Light pink background with opacity */
  border-radius: 20px;
  padding: 20px;
  color: white;
  font-weight: bold; /* Make the font bold */
  width: 70%; /* Adjust the width as needed */
  margin: 50px auto; /* Center the paragraph horizontally and provide some space from the top */
  text-align: center;
}


/* App.css */

/* Add styles for the modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #f7b7c3; /* Light pink background */
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}

.modal-content img {
  max-width: 70%; /* Adjust the maximum width of the image */
  border-radius: 10px;
  margin-bottom: 20px; /* Add some space below the image */
}

.modal-content .buttons {
  display: flex;
  justify-content: center;
}

.modal-content .buttons button {
  padding: 10px 20px; /* Adjust padding as needed */
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px; /* Add margin between buttons */
}

.modal-content .buttons button:hover {
  background-color: #d32f2f; /* Dark pink color on hover */
  color: #fff; /* White text color on hover */
}

.image-container {
  background-color: #f7b7c3; /* Light pink background */
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-width: 50%; /* Set maximum width for the image */
  max-height: 50%; /* Set maximum height for the image */
  border-radius: 10px; /* Rounded edges */
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.buttons button {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #d32f2f; /* Dark pink color on hover */
  color: #fff; /* White text color on hover */
}


